header {
    background-color: #244751;
    color: #E8FDFF;
}

body {
    background-color: whitesmoke;
}

main {
    background-color: white;
    padding: 16px;
}

header img {
    align-items: baseline;
    width: 25px;
    height: 25px;
    border-radius: 25%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    align-items: baseline;
    transition: width 2s, height 2s;
}

header img:hover {
    width: 50px;
    height: 50px;
}

.finstagram-post {
    margin-bottom: 48px;
  }

h2:hover {
    color: red;
  }

a.photo{
    transition: padding 0.5s;
}

a.photo:hover {
    padding: 10px;
}