header {
    background-color: #244751;
    color: #E8FDFF;
    padding: 0px 10px;
}

body {
    background-color: whitesmoke;
}

.finstagram-post {
    margin-bottom: 48px;
  }

h2:hover {
    color: red;
  }

a.photo{
    transition: padding 0.5s;
}

a.photo:hover {
    padding: 10px;
}