<!doctype html>
<html>
    <head>
        <title>Finstagram</title>
    </head>
      <main role="main">
        <header>
          <h1>Finstagram</h1>
        </header>
        <article>
            <div>
                <img src="https://live.staticflickr.com/65535/52358606250_01c667c5da_w.jpg" alt="sharky_j">
                <h2>sharky_j</h2>
                <h3>15 minutes ago</h3>
            </div>
            <a href="#">
                <img src="https://live.staticflickr.com/65535/52358421508_786aa10e2c_c.jpg" alt="post from sharky_j">
            </a>
            <div>
                0 likes
                <span>0 comments</span>
              </div>
              <ul>
                <li>
                  <p>
                    sharky_j: Out for the long weekend... too embarrassed to show y'all the beach bod!
                  </p>
                </li>
              </ul>
        </article>
    </main>
</html>