<!doctype html>
<html>
  <body>
    <header>
      <h1><a href="https://3000-williamlhl-finstagram-0hsb5d9ukw3.ws-us90.gitpod.io/experindex">Finstagram</a></h1>
    </header>
    <main role="main">
  <!-- First post: Shark -->
        <article class="finstagram-post">
            <div class="user-info">
                <img src="https://live.staticflickr.com/65535/52358606250_01c667c5da_w.jpg" alt="sharky_j">
                <h2>sharky_j</h2>
                <h3>15 minutes ago</h3>
            </div>
            <a class="photo" href="#">
                <img src="https://live.staticflickr.com/65535/52358421508_786aa10e2c_c.jpg" alt="post from sharky_j">
            </a>
            <div class="actions">
                0 likes
                <span class="comment-count">0 comments</span>
              </div>
              <ul class="comments">
                <li>
                  <p>
                    sharky_j: Out for the long weekend... too embarrassed to show y'all the beach bod!
                  </p>
                </li>
              </ul>
        </article>
  <!-- Second post: whale. -->
      <article class="finstagram-post">
        <div class="user-info">
          <img src="https://live.staticflickr.com/65535/52358421348_f34c7996b1.jpg" alt="kirk_whalum">
          <h2>kirk_whalum</h2>
          <h3>1 hour ago</h3>
        </div>
        <a class="photo" href="#">
          <img src="https://live.staticflickr.com/65535/52357237337_1cc718f6a7_4k.jpg" alt="finstagram post from kirk_whalum">
        </a>
        <div class="actions">
          0 likes
          <span class="comment-count">0 comments</span>
        </div>
        <ul class="comments">
          <li>
            <p>
              kirk_whalum: #weekendvibes
            </p>
          </li>
        </ul>
      </article>
  <!-- Third post: marlin -->
      <article class="finstagram-post">
        <div class="user-info">
          <img src="https://live.staticflickr.com/65535/52358415933_0a0e6bc35f_3k.jpg" alt="marlin_peppa">
          <h2>marlin_peppa</h2>
          <h3>3 hours ago</h3>
        </div>
        <a class="photo" href="#">
          <img src="https://live.staticflickr.com/65535/52358494794_f88b160d15_4k.jpg" alt="finstagram post from marlin_peppa">
        </a>
        <div class="actions">
          0 likes
          <span class="comment-count">0 comments</span>
        </div>
        <ul class="comments">
          <li>
            <p>
              marlin_peppa: lunchtime! ;)
            </p>
          </li>
        </ul>
      </article>
    </main>
  </body>
</html>